:root {
    --primary-color: #3d3555;
    --timeline-bg-color: #888;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

polygon {
    transition: filter 1s ease-in-out;
  }
  
  polygon:hover {
    filter: url(#glow);
    transition-delay: 1s; /* Adjust this value to control the delay */
  }

  #hexagonGrid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
  

h1 {
    background: rgba(225, 224, 230, 0.29);
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid rgba(81, 33, 159, 0.16);

    width: 60%;
    text-align: center;
    /* border-radius: 1.5rem; */
    margin-top: .5rem;
    padding: 0 1em;
}


.topper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
    width: 100%;
    /* height: 25vh; */
    z-index: 50;

    background-color: rgba(255, 255, 255, 0.4);
}

.topper > * {
    font-weight: 600;
}

.topper > p {
    padding: 0 1rem;
    text-align: center;
}

.topper a {
    margin-bottom: 1rem;
}

.timeline-wrapper::-webkit-scrollbar {
    display: none;
}

.timeline-wrapper {
    position: relative;
    width: 95%;
    height: 70vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow-x: auto;
    transition: .3s ease;

    touch-action: pan-x; /* Allow horizontal panning */
    overscroll-behavior: contain; /* Prevent overscrolling */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    cursor: grab;

    z-index: 0;
    /* From https://css.glass */
    background: rgba(225, 224, 230, 0.29);
    border-radius: 16px;
    box-shadow: 0 20px 30px rgba(10, 10, 10, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid rgba(81, 33, 159, 0.16);

    
}

.timeline-wrapper.grabbing {
    cursor: grabbing;
}

.timeline {
    position: absolute;
    height: .5rem;
    padding: 0 10rem;
    /* background-color: var(--timeline-bg-color); */
    list-style: none;

    background: linear-gradient(#262626, #eaeaea, #262626);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    --scale: 1;

    display: flex;
    scroll-snap-align: start;
    z-index: 2;
}

.timeline li {
    position: relative;
    width: 20rem;

    scroll-snap-align: center;
}

.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
    
}

.timeline li::before {
    content: "";
    top: 1.5rem;

    display: inline-block;
    width: 0.25rem;
    height: 2.5rem;
    background-color: var(--timeline-bg-color);
}

.timeline li:nth-child(even)::before {
    top: -1.5rem;
}

.timeline li:hover::before {
    background-color: var(--primary-color);
}

.timeline li::after {
    content: attr(data-date);
    top: -4.4rem;

    padding: .5rem;
    border-radius: 10%;
}

.timeline li:nth-child(odd)::after {
    top: 4.4rem;
}

.timeline li:hover::after,
.timeline li .title {
    color: var(--primary-color);

    padding: .5rem;
    border-radius: 10%;
}

.timeline li .title {
    top: 4.4rem;

    font: 600 1.1rem 'poppins', sans-serif;
    white-space: pre; /* Keeps the title on a single line */

    opacity: 0;
}

.timeline li:nth-child(odd) > .title {
    top: -4.4rem;
}

.timeline li:hover .title {
    opacity: 1;
}

.data {
    width: 2rem;
    height: 2rem;
    background-color: var(--timeline-bg-color);
    color: #fff;
    
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;

    overflow: hidden;
    touch-action: manipulation;
    }

.timeline li:hover .data {
    background-color: var(--primary-color);
    --scale: 1.2;
    cursor: pointer;
    z-index: 200;
}

.data.show {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;

    background-image: linear-gradient(45deg, var(--primary-color), rgb(152, 178, 213));

    box-shadow: 0 .1rem .4rem #0004;

    z-index: 100;
}

.data h3 {
    text-transform: capitalize;
    margin-left: 3.7rem; /* Hides the title when not shown */
}

.data p {
    background-color: #fff3;
    padding: 1rem;
    border-radius: 1rem;

    font-size: .90rem;
}

.data.show h3 {
    margin-left: 0;
}

.data .close {
    align-self: center;
    background: rgba(225, 224, 230, 0.29);
    border-radius: 16px;
    box-shadow: 0 20px 30px rgba(10, 10, 10, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 5px solid rgba(81, 33, 159, 0.16);

    padding: .5rem .8rem;
    border-radius: 2rem;

    font-size: 1rem;
}

    /* styles added for the start and end markers */

.timeline li.fixed {
    position: relative;
    width: 2rem; /* Adjust the width as needed */
}

.timeline li.fixed::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: 1;
}

.timeline li.start::before {
    content: "Start";
    /* Add additional styles for the start marker */
}

.timeline li.end::before {
    content: "End";
    /* Add additional styles for the end marker */
}

.timeline li.start::before,
.timeline li.end::before {
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 4rem; /* Adjust as needed */
    height: 4rem; /* Adjust as needed */
    border-radius: 1rem;
    background-color: var(--timeline-bg-color);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #fff;
    font-weight: 600;
}
.timeline li.start::before {
    transform: translate(-200%, -50%);
}

.timeline li.start:hover::before {
    scale: 1.2;
    box-shadow: 1rem 1rem 4rem #0004;
}

.timeline li.end::before {
    transform: translate(200%, -50%);
}

.timeline li.end:hover::before {
    scale: 1.2;
    box-shadow: 1rem 1rem 4rem #0004;
}